name: Community Extension Generate Docs
on:
  workflow_dispatch:
    inputs:
      extension_name:
        type: string
  workflow_call:
    inputs:
      extension_name:
        type: string

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up DuckDB
      run: |
        wget https://github.com/duckdb/duckdb/releases/download/v1.0.0/duckdb_cli-linux-amd64.zip
        unzip duckdb_cli-linux-amd64.zip
        chmod +x duckdb

    - name: Fetch extensions
      if: ${{ inputs.extension_name == '' }}
      run: |
        ./scripts/fetch_extensions.sh ./duckdb

    - uses: actions/download-artifact@v3
      if: ${{ inputs.extension_name != '' }}
      with:
        name: ${{ inputs.extension_name }}-v1.0.0-extension-linux_amd64_gcc4
        path: build/downloaded

    - name: Install downloaded extension
      if: ${{ inputs.extension_name != '' }}
      env:
        NAME: ${{ inputs.extension_name }} 
      run: |
        ./duckdb -c "SET extension_directory = 'build/extension_dir'; FORCE INSTALL 'build/downloaded/$NAME.duckdb_extension';"
        ./scripts/fetch_extensions.sh ./duckdb

    - name: Generate docs
      run: |
        ./scripts/generate_md.sh ./duckdb

    - uses: actions/upload-artifact@v3
      with:
        name: generated_markdowns
        path: |
          build/docs/*.md
